@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-animation-close {
  animation-name: modal-animation-close;
  animation-duration: 0.5s;
}
@keyframes modal-animation-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.form-row > input:focus + label {
  color: #f59e0b;
}
.form-row > textarea:focus + label {
  color: #f59e0b;
}

body {
  min-width: 260px;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important; /* Override background color */
  -webkit-text-fill-color: black !important; /* Override text color */
}

/* Target autocomplete suggestions for other browsers */
input:autofill {
  box-shadow: 0 0 0 30px white inset !important; /* Override background color */
  text-fill-color: black !important; /* Override text color */
}
